<!DOCTYPE html>
<html>
<head>
  <title>RockPaperScissors</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
</head>
<body>

<div class="container">
  <hr>

  <div class="row">
    <div class="col-md-4">
      <a href="/move/rock" class="btn btn-warning btn-block btn-lg">Play rock.</a>
    </div>

    <div class="col-md-4">
      <a href="/move/paper" class="btn btn-warning btn-block btn-lg">Play paper.</a>
    </div>

    <div class="col-md-4">
      <a href="/move/scissors" class="btn btn-warning btn-block btn-lg">Play scissors.</a>
    </div>
  </div>

  <hr>

    <%= yield %>


</body>
</html>
